@page "/admin"

@inject NavigationManager NavigationManager

<PageTitle>Panel administracyjny</PageTitle>


<AuthorizeView>
    <Authorized>
        <AdminPanel/>
    </Authorized>
    <NotAuthorized>
        <div class="text-center my-4">
            <h3>Nie zautoryzowano</h3>
            <p>Zaloguj/zarejestruj się jako admin <a href="/auth" class="text-black-50"><b><u>tutaj</u></b></a>.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code
{
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

}
