@page "/admin/edit-sponsor-info"
@using VideoHolder.Core.Enums
<PageTitle>Panel administracyjny - Edytuj informacje o sponsorach</PageTitle>
<div class="container my-4">
    <h1 class="mt-4 mb-2">Edytuj Informacje O Sponsorach</h1>
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Strona główna" />
        <RadzenBreadCrumbItem Path="/admin" Text="Admin" />
        <RadzenBreadCrumbItem Text="Edytuj-Informacje-O-Sponsorach" />
    </RadzenBreadCrumb>
    <hr class="mb-3">

</div>

@code {

}