@page "/admin/edit-sponsor-info"

@attribute [Authorize]

<PageTitle>Panel administracyjny - Edytuj informacje o współpracach</PageTitle>
<div class="container my-4">
    <h1 class="mt-4 mb-2">Edytuj informacje o współpracach</h1>
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Strona główna" />
        <RadzenBreadCrumbItem Path="/admin" Text="Admin" />
        <RadzenBreadCrumbItem Text="Edytuj-Informacje-O-Sponsorach" />
    </RadzenBreadCrumb>
    <hr class="mb-3">

</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }
}