/VideoHolder.View/wwwroot/items/home/
/VideoHolder.View/wwwroot/items/adv/
/VideoHolder.View/bin/
/VideoHolder.View/obj/
/VideoHolder.Data/bin/
/VideoHolder.Data/obj/
/VideoHolder.Core/bin/
/VideoHolder.Core/obj/