<div class="w-100 mt-5 mt-lg-4 ui-bg">
  <div class="container py-3">
    <div class="d-flex justify-content-center flex-column flex-md-row align-items-center gap-3 gap-md-5">



    </div>
  </div>
  <div class="separator weak"></div>
  <div class="container py-0">
    <div class="col-12 d-flex flex-column flex-md-row justify-content-between navbar navbar-dark text-muted font-weight-bold">
      <span class="mb-2 mb-md-0">CKZiU Tuchów, 2022&#169;.</span>
      <div class="d-flex flex-column d-sm-block align-items-center py-2 py-lg-3" aria-label="Twórca strony">
        <span>Aplikację zaprojektował i stworzył: </span>
        <a class="span-link link" href="https://migra.ml" target="_blank">Michał Grabka</a>
      </div>
    </div>
  </div>
</div>

@code {
    
}