@inherits LayoutComponentBase

<PageTitle>VideoHolder.View</PageTitle>

<div class="d-flex flex-column min-vh-100">
    <header class="sticky-top">
        <NavMenu/>
    </header>

    <main>
        <article>
            @Body
        </article>
    </main>

    <footer class="mt-auto">
        <Footer />
    </footer>

</div>
