<nav class="py-2 ui-bg navbar navbar-expand-lg">
  <div class="container d-flex justify-content-between align-items-center">

    <a href="/" class="logo">
      <img src="/title-icon.webp" alt="logo">
      <span>Pracownia Elektryczna CKZiU Tuchów</span>
    </a>

    <RadzenButton Icon="menu" class="d-block d-lg-none px-3 mt-2 mt-lg-0"
                  ButtonStyle="ButtonStyle.Light"
                  data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup" aria-expanded="false"
                  aria-label="Toggle navigation"
    />

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <SearchBar />
    </div>

  </div>
</nav>


@code {

}