<form class="d-flex align-items-center" role="search">
    <input class="form-control me-2" type="search" placeholder="Podaj frazę..." aria-label="Search">
    <button class="btn btn-outline-light" type="submit">Wyszukaj</button>
</form>

@code {

}