<form class="d-flex align-items-center" role="search">
    <input class="form-control me-2" type="search" placeholder="Wyszukaj..." aria-label="Search">
    <RadzenButton Icon="search" ButtonStyle="ButtonStyle.Secondary" Size="ButtonSize.Medium" type="submit" />
</form>

@code {

}