@page "/"
@inject IItemFactory ItemFactory

<PageTitle>CKZiU Tuchów - Pracownia elektryczna</PageTitle>

<div class="container my-4">
    <div class="d-flex flex-wrap w-100">
        @foreach (var item in Items)
        {
            <div class="col-12 col-sm-6 col-lg-4 p-2 mb-2">
                <HomeItemCard Item="item"/>
            </div>
        }
    </div>
</div>

@code
{
    private List<HomeItem> Items { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Items = await ItemFactory.GetHomeItems() as List<HomeItem>;
    }
}
