@using VideoHolder.Data.Entities
@using VideoHolder.Data.Repos.Interfaces
@using VideoHolder.Core.Enums
@using VideoHolder.Data.Entities.Abstract


<RadzenDataGrid Data="@items" TItem="Item">
    <Columns>
        <RadzenDataGridColumn TItem="Item" Title="Id" Property="Id"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Item" Title="Miniaturka">
            <Template Context="data">
                <RadzenImage Path="@data.Url" class="img-fluid"/>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Item" Title="Typ" Property="ItemType"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Item" Title="Nazwa" Property="Name"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Item" Title="Opis" Property="Description"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Item" Title="Usuń">
            <Template>
                <button class="btn btn-primary">text</button>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    [Parameter]
    public ItemOption ItemOption { get; set; }

    public IEnumerable<Item> items;

    protected override async Task OnInitializedAsync()
    {
        switch (ItemOption)
        {
            case ItemOption.Advs:
            {
                break;
            }
            case ItemOption.Home:
            {
                break;
            }
        }
    }

}