@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    background-color: #ffffff !important;
}
.page-title {
    font-family: 'Calibri', sans-serif !important;
}
h1 {
    outline: none !important;
}
.ui-bg {
    background-image: linear-gradient(120deg, rgb(5, 3, 47), rgb(63, 0, 62), rgb(5, 3, 47)) !important;
}
.form {
    max-width: 550px;
    margin: 0 auto;
}
.postItemIframe {
    width: 100% !important;
    aspect-ratio: 16/11 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 1350px !important;
}
.item {
    background-color: #f8f8f8 !important;
}
.item-container {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-header-container {
    overflow: auto;
}
.item-header-container h5 {
    font-weight: 600;
    letter-spacing: -0.3px;
}
.desc-container {
    height: 120px;
    overflow: auto;
}
video {
    aspect-ratio: 16/9 !important;
}
.no-resize {
    resize: none;
}
